@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
#inicio {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media (min-with: 768px){
  #inicio {
    border-bottom-right-radius: 250px;
  }
}